langchain
langchain-community
langchain-core

langgraph

chromadb
langchain-chroma

pypdf
pymupdf

sentence-transformers

python-dotenv

pydantic

google-generativeai


langchain-google-genai
langchain_openai

pdf2image
easyocr
opencv-python
pillow
tqdm
pytesseract

langchain-text-splitters

